*{margin: 0;padding: 0;}
			.header-inner,.bannner-inner,.main-inner,.footer-inner{width: 910px;margin: 0 auto;}
			.top{height: 19px;background-color: black;margin: 0 auto;}
			.header{height: 114px;}
			.header-inner{height: 114px;}
			.logo{width: 279px;height: 114px;float: left;}
			.logo h1{margin-top: 40px;color: red;font-family: arial;}
			.nav{width: 451px;height: 114px;float: right;}
			.nav ul{list-style-type: none;}
			.nav ul li{float: left;}
			.nav ul li a:hover{color: red;border-bottom: 2px solid;height: 21px;}
			.nav ul li a{font-size: 14px;color: #954663;text-decoration: none;display: block;margin-top: 48px;margin-left: 38px;}
			.banner{height: 270px;background-image: url(images/bannerbg_03.gif);}
			.bannner-inner{height: 270px;position: relative;}
			.text{width: 478px;height: 270px;float: left;}
			.text h2{margin-top: 38px;color: yellow;font-family: arial;}
			.text h2 span{border-bottom: 1px red dotted;font-style: italic;color: red;}
			.text p{margin-top: 28px;color: white;}
			.pic{width: 400px;height: 270px;float: right;position: absolute;left: 512px;top: -14px;}
			.main{height: 306px;}
			.main-inner{height: 306px;}
			.left{width: 276px;height: 306px;float: left;}
			.left h3,.center h3,.right h3{margin-top: 39px;}
			.left h3 span,.center h3 span,.right h3 span{color: red;}
			.left p,.center p,.right p{margin-top: 21px;color: black;}
			.center{width: 276px;height: 306px;float: left;}
			.right{width: 276px;height: 306px;float: left;}
			.right p span{color: red;}			
			.right .rightdown{width: 276px;margin: 0}
			.right .rightdown p{background-image: url(images/main-right-p_28.gif);}
			.center{margin-left: 30px;margin-right: 42px;}
			.footer{height: 76px;}
			.footer-inner{height: 76px;}
			.copyright{width: 308px;height: 76px;float: left;}
			.footerlogo{width: 302px;height: 76px;float: right;border: 1px solid red;}
